body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #297069), url(Images/an.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-page {
    width: 360;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(71, 151, 133, 0.685);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #009688;
    width: 100%;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,
.form button:active {
    background: #0c0e0d;
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color: #0a0f0f;
    text-decoration: none;
}

.form .registration-form {
    display: none;
}

.registration-form .h2 {
    color: #fff
}